@model PagedList.IPagedList<MobileShopConnection.BinhLuan>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Bình luận</h2>
@if (User.Identity.IsAuthenticated)
{
    <textarea id="comment-content"></textarea>
    <input value="Đăng" type="button" onclick="postComment()"/>
}
else
{
    <div>Vui lòng <a href="/Account/Login">Đăng nhập</a> để bình luận</div>
}
<div id="comments">
    @foreach (var item in Model)
    {
        <div class="comment">
            <div class="comment-name">@item.TenTaiKhoan</div>
            <div class="comment-content">@item.NoiDung</div>
        </div>
    }
</div>
<ul class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</ul>
