@model IEnumerable<MobileShopConnection.NhaSanXuat>
<div class="panel-group category-products" id="accordian">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @Html.ActionLink(item.TenNhaSanXuat, "Index", "NhaSanXuat", new { id = @item.MaNhaSanXuat}, new { @class = "toplink" })
                </h4>
            </div>
        </div>

    }


</div>
